.gameTable {
  border: 3px solid var(--cell-border);
  border-collapse: collapse;
  font-size: 1.6rem;
  background-color: var(--content-table);
}

.cell {
  border: 1px solid var(--cell-border);
  width: 30px;
  height: 30px;
  background-image: inherit;
  transition: all 0.2s ease-in-out;
}

.cell:first-child {
  padding: 5px;
  width: fit-content;
  min-width: 40px;
  word-spacing: 15px;
  text-align: end;
}

.gameRow:first-child .cell {
  vertical-align: bottom;
  padding: 5px;
  height: fit-content;
  line-height: 1;
  white-space: pre;
}

.gameRow:first-child .cell.timerCell {
  vertical-align: middle;
  text-align: center;
}

.gameRow:nth-child(5n +1):not(:last-child) {
  border-bottom: 3px solid var(--cell-border);
}

.gameRow:nth-child(5n +1),
.cell:nth-child(5n +1):not(:last-child) {
  border-right: 3px solid var(--cell-border);
}

.tableHeader {
  background-color: var(--static-green);
}

.gameRow:not(:first-child) .cell:not(:first-child) {
  cursor: url('../icons/pen-dark.svg') 0 25, pointer;
}

.filledCell {
  background-image: url("../icons/hetch-light.svg");
}

.crossedCell {
  background-image: url("../icons/cross-light.svg");
}

[data-theme] {
  .gameRow:not(:first-child) .cell:not(:first-child) {
    cursor: url('../icons/pen-light.svg') 0 25, pointer;
  }

  .filledCell {
    background-image: url("../icons/hetch-dark.svg");
  }

  .crossedCell {
    background-image: url("../icons/cross-dark.svg");
  }
}

@media (hover: hover) and (pointer: fine) {
  .gameRow:not(:first-child):hover .cell,
  .highlightCell {
    backdrop-filter: brightness(0.8);
  }

  .gameRow:not(:first-child):hover .tableHeader,
  .tableHeader.highlightCell {
    background-color: rgb(165, 154, 129);
  }

  [data-theme] {
    .gameRow:not(:first-child):hover .cell,
    .highlightCell {
      backdrop-filter: brightness(1.3);
    }

    .gameRow:not(:first-child):hover .tableHeader,
    .tableHeader.highlightCell {
      background-color: rgb(63, 69, 81);
    }
  }
}
