@import "css/base/_variables.css";
@import "css/base/_typography.css";
@import "css/_button.css";
@import "css/_modal.css";
@import "css/base/_utils.css";
@import "css/_media-queries.css";
@import "css/_gameField.css";
@import "css/_levelTabs.css";
@import "css/_timer.css";
@import "css/_scoreTable.css";

/* base */
*,
*::before,
*::after{
  padding: 0;
  box-sizing: border-box;
}

*:not(dialog),
*::before,
*::after{
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

a:link,
a:visited{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

body {
  background-color: var(--background-color);
}
