/* 800px */
@media only screen and (width <= 50em) {
  .container {
    padding: 20px 10px 0;
  }

  .flex {
    flex-wrap: wrap;
  }
}

/* 688px */
@media only screen and (width <= 43em) {
  html {
    /* 9px */
    font-size: 56.25%;
  }

  body {
    font-size: 1.6rem;
  }

  .button {
    font-size: 1.6rem;
  }

  .header-primary {
    font-size: 2.8rem;
  }

  .cell {
    width: 25px;
    height: 25px;
  }

  .tableHeader {
    font-size: 1.4rem;
  }

  .cell:first-child {
    padding: 0 5px;
    word-spacing: 10px;
  }

  .gameRow:first-child .cell {
    padding: 5px 0;
  }
}

/* 576px */
@media only screen and (width <= 36em) {
  body {
    font-size: 1.4rem;
  }

  .button {
    padding: 5px 10px;
  }

  .cell {
    width: 20px;
    height: 20px;
  }

  .tableHeader {
    font-size: 1.2rem;
  }

  .cell:first-child {
    padding: 0 5px;
    word-spacing: 7px;
  }

  .gameRow:first-child .cell {
    line-height: 0.7;
  }

  .flex_gap-30 {
    gap: 20px;
  }

  .iconButton--settings {
    width: 30px;
  }

  .iconButton--actions {
    width: 40px;
  }
}

/* 448px */
@media only screen and (width <= 28em) {
  .iconButton--settings {
    width: 25px;
  }

  .iconButton--actions {
    width: 30px;
  }

  .header-primary {
    font-size: 2rem;
  }

  .container {
    padding-inline: 5px;
  }

  .button {
    font-size: 1.4rem
  }

  .cell {
    width: 18px;
    height: 18px;
  }

  .tableHeader {
    font-size: 1.2rem;
  }

  .cell:first-child {
    padding: 0 3px;
    word-spacing: 3px;
  }

  .flex_gap-30 {
    gap: 10px;
  }

  .levelField {
    margin-top: 7px;
  }
}

