.container {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 900px;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.flex--align-center {
  align-items: center;
}

.flex--align-justify-center {
  align-items: center;
  justify-content: center;
}

.flex--justify-around {
  justify-content: space-around;
}

.flex--wrap {
  flex-wrap: wrap;
  justify-content: center;
}

.flex_gap-30 {
  gap: 30px;
}

.flex_gap-20 {
  gap: 20px;
}

.flex_gap-10 {
  gap: 10px;
}

.display-none {
  display: none;
}

.image {
  width: 100%;
  object-fit: contain;
}

.width100 {
  width: 100%;
}

.no-pointer-events {
  pointer-events: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.margin-0-auto {
  margin: 0 auto;
}
