:root {
  /* color */
  --background-color: #fbfbfd;
  --primary: #5e63ba;
  --cell: #2f3480;
  --cell-border:  #5e63ba;
  --primary-alpha: rgb(94 99 186 / 50%);
  --primary-alpha2: rgb(94 99 186 / 10%);
  --dark: #2f3480;
  --static-green: rgba(40, 180, 133, 0.8);
  --static-green-alpha: rgba(40, 180, 133, 0.3);
  --static-white: #fbfbfd;
  --content-background: #ecf3f8;
  --content-table: #ecf3f8;
  --overlay: rgb(24 28 41 / 80%);

  /* border */
  --border-radius: 20px;

  /* width */
  --container-width: 1440px;

  [data-theme] {
    --background-color: #1e2337;
    --primary: #a0a8d0;
    --primary-alpha: rgb(160 168 208 / 50%);
    --primary-alpha2: rgb(160 168 208 / 10%);
    --dark: #f5f8ff;
    --static-green: rgba(38, 162, 123, 0.8);
    --static-green-alpha: rgba(38, 162, 123, 0.3);
    --static-white: #2b2d42;
    --content-background: #282c47;
    --content-table: #b6c2ca;
    --overlay: rgba(245, 248, 255, 0.2);
}
}
