:root {
  /* color */
  --background-color: #fbfbfd;
  --primary: #1c274d;
  --cell: #716b58;
  --cell-border:  #1c274d;
  --primary-alpha: rgb(28 39 77 / 50%);
  --primary-alpha2: rgb(28 39 77 / 10%);
  --dark: #1c274d;
  --static-green: #ccc19f;
  --static-green-alpha: rgba(204, 193, 159, 0.5);
  --static-white: #fbfbfd;
  --content-background: #ecf3f8;
  --content-background-alpha50: 236, 243, 248, 0.8;
  --content-table: #ecf3f8;
  --overlay: rgb(24 28 41 / 80%);

  /* border */
  --border-radius: 20px;

  /* width */
  --container-width: 1440px;

  [data-theme] {
    --background-color: #1e2337;
    --primary: #ccc19f;
     --cell-border: #716b58;
     --cell: #262f4a;
    --primary-alpha: rgb(204 193 159 / 50%);
    --primary-alpha2: rgb(160 168 208 / 10%);
    --dark: #ccc19f;
    --static-green: #1c274d;
    --static-green-alpha: rgba(28, 39, 77, 0.7);
    --static-white: #2b2d42;
    --content-background: #282c47;
    --content-background-alpha50: 30, 35, 55, 0.95;
    --content-table: #b6c2ca;
    --overlay: rgba(245, 248, 255, 0.2);
}
}
